:host{
  .button-icon{
    background: none;
    border: 0;
    padding: 0;
    display: inline-flex;
    padding: 2px;
    cursor: pointer;
  }

  .button-icon:hover{
    background:#0000001a;
    border-radius: 50%;
  }
}