table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  color: #ddd;
}

.positivo {
  color: green;
}

.negativo {
  color: red;
}
