<app-menu>
  <div class="container-dashboard">
    <div class="container-cards">
      <mat-card class="card-container">Entradas do mês comparar com mês anterior</mat-card>
      <mat-card class="card-container">Despesas do mês comparar com mês anterior</mat-card>
      <mat-card class="card-container">Saldo disponivel no mês</mat-card>
    </div>
    <mat-card class="card-container">
      <div class="botoes-dashboard">
        <button (click)="dadosFull()">Full</button>
        <button (click)="dadosMes()">Month</button>
        <button (click)="dadosAnos()">Year</button>
      </div>

      <div class="dashboard">
        <div echarts [options]="chartOptionComparativo" class="grafico-comparativo-container"></div>
        <!-- <div echarts [options]="lineOption" class="grafico-container"></div> -->
        <div echarts [options]="pieOption" class="grafico-pizza-container"></div>
      </div>

    </mat-card>
  </div>

</app-menu>