<style>
  .container-login{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input {
    display: flex;
    flex-direction: row;
  }
</style>

<div class="container-login">
  <div class="container-titulo-login">
    <h1>Acessar Site</h1>
  </div>

  <form [formGroup]="form">
    <div class="input">
      <label for="">Nome</label>
      <input type="text" formControlName="login">
    </div>

    <div class="input">
      <label for="">Senha</label>
      <input type="number" formControlName="senha">
    </div>
  </form>

  <button (click)="conferirLogin()">Login</button>
</div>