

.login-card-registro {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 12px;
  font-weight: 300;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
}

.textarea-container {
  flex-direction: column;
  display: flex;
  margin-bottom: 1rem;
}
