.registro-card-login {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 12px;
  font-weight: 300;
  justify-content: center;
  margin-top: 1rem;
}

mat-card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  border: none;
  background: #262626;
  border: 1px solid #707070;
  color: #E5E5E5;
  padding: 1rem;
}


