/*Input --inicio--*/
input {
  width: 100%;
  height: 1rem;
  border: none;
  border-bottom: 1px solid #cbcbcb;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  margin: 0;
  color: #f5f5f5;
  padding: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 12px;
  font-weight: 200;
  flex: 1 1 0;
  padding-bottom: 1rem;


  .input-error {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: red;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
  }
}

.input-container label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
/*Input --fim--*/

/*Select --inicio--*/
select {
  width: 100%;
  height: 1rem;
  border: none;
  border-bottom: 1px solid #cbcbcb;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  margin: 0;
  color: #f5f5f5;
  margin-top: 1px;

  option {
    background-color: black;
    color: #f5f5f5;
  }
}
/*Select --Fim--*/
