<app-grid-editar-excluir [colunas]="colunas" [dados]="dados"   [form]="form" [rowEditTemplate]="rowEditTemplate" (confirmar)="aoConfirmarEdicao($event)" (deletar)="deletarLinha($event)"></app-grid-editar-excluir>

<ng-template #viewTemplate let-row>
  {{ row.valorDespesa | currency:'BRL' }}
</ng-template>

<ng-template #viewDataPagamento let-row>
  {{ row.dataPagamento | date:'dd/MM/yyyy' }}
</ng-template>

<ng-template
  #rowEditTemplate
  let-row
  let-form="form"
  let-coluna="coluna">

  <ng-container [formGroup]="form">
  <input
  style="color: black;"
    matInput
    [type]="coluna.type || 'text'"
    [formControlName]="coluna.key">

  </ng-container>

</ng-template>

