<app-menu>
  <ng-container *ngTemplateOutlet="card_meses"></ng-container>
</app-menu>

<ng-template #card_meses>
  <div class="titulo-container">
    <p>Selecione o mês:</p>
    <button (click)="deveVoltarParaMenuAnos()">voltar</button>
  </div>

  <div class="container-card" card-anos-consulta>
    <div class="container-cards" *ngIf="!loading">
      <mat-card appearance="outlined" *ngFor="let card of dadosCard" (click)="aoClicarNoCardMesDeveIrParaDetalhes(card)">
        <mat-card-title> {{ card.nome }} </mat-card-title>
      </mat-card>
    </div>
    <div class="loading" *ngIf="loading">
      <app-loading></app-loading>
    </div>
  </div>
</ng-template>