.button-width-100 {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 8px 0;
}

.buttons-container-space-around {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}

button {
  cursor: pointer;
}

.botao-acoes {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

.buttons-container-space-between {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container-detalhes {
  display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
    align-items: baseline;
}
