.success .mdc-snackbar__label {
  background-color: #26973e !important;
    border-radius: 5px !important;

}

.error .mdc-snackbar__label {
  background-color: #972626 !important;
    border-radius: 5px !important;

}

.mat-mdc-snackbar-surface {
    padding: 0 !important;
}
